production:
  host: host.domain.unam.mx
  port: 1251
  database: aleph_db
  username: username
  password: password
  library_key: key

development:
  host: host.domain.unam.mx
  port: 1251
  database: aleph_db
  username: username
  password: password
  library_key: key
