production:
  host: host.domain.unam.mx
  port: 1251
  database: aleph_db
  username: username
  password: password
  library_key: key
  ssh_username: alephmw
  ssh_password: password
  pics_directory: /remote/directory/to/save/pics
  middleware_database: db/aleph_middleware.sqlite3

development:
  host: host.domain.unam.mx
  port: 1251
  database: aleph_db
  username: username
  password: password
  library_key: key
  ssh_username: alephmw
  ssh_password: password
  pics_directory: /remote/directory/to/save/pics
  middleware_database: db/aleph_middleware.sqlite3
